body {
    margin: 30px;
    font-family: "Dosis", sans-serif;
    box-sizing: border-box;
}

header {
    width: 1235px;
    height: 520px;
}

.landing-img{
    background-image: linear-gradient(76deg, rgba(193, 195, 204, 0.83)35%, rgba(193, 195, 204, 0.28)65%), url(./slide-2.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: scroll,fixed;
    position: relative;
    width: 1435px;
    height: 520px;
    margin-left: 10px;
}
.logo{
    background-color: #e47312;
    height: 80px;
    width: 135px;
    position: absolute;
    top: 25px;
    padding: 20px;
    margin-left: 80px;
}
.logo img{
    width: 100px;
    height: 20px;
    margin-left: 20px;
    margin-top: 35px;
}

.nav-list ul{
    margin-left: 255px;
    margin-top: 25px;
    width: 900px;
    /* height: 60px; */
    background-color: aliceblue;
     position:absolute;
     display: flex;
     /* float:right; */
}
.nav-list ul ,li{
    text-decoration: none;
    list-style-type: none;
    padding: 20px;
    font-size: 15px;
    color: black;
   /* text-align: left; */
}
.nav-list ul,li:hover{
  color: #e47312;
  border-right:2px solid #e47312;
}
#home{
    color: #e47312;
}
.last-nav{
    background-color: #e47312;
    height: 58px;
    width: 135px;
    position: absolute;
    top: 25px;
    padding: 20px;
    margin-left: 1190px;
}
span{
    font-size: 15px;
    color: aliceblue;
    position: absolute;
    margin-top: 17px;
}
.last-nav:hover{
    background-color:#e69147 ;
}
.big-text{
    color: rgb(240, 233, 233);
    font-size: 70px;
    position: absolute;
    margin-top: 200px;
    margin-left: 80px;
    font-weight: bold;
}
.small-text{
    color: rgb(241, 239, 239);
    position: absolute;
    margin-top: 300px;
    margin-left: 80px;
    font-size: 20px;
}
.last-text{
    background-color: #e47312;
    height: 25px;
    width: 140px;
    position: absolute;
    top: 350px;
    padding: 20px;
    margin-left: 80px;
}
.last-text:hover{
    background-color: #e69147;
}
.last-text p{
    font-size: 15px;
    color: aliceblue;
    margin-top: 5px;
}
.blue-container{
    position: absolute;
    height: 280px;
    width: 50px;
    background-color: #0a1229;
   margin-left: 1365px;
   margin-top: 150px;
   padding: 10px;

}
.blue-container img{
    width: 20px;
    margin-top: 30px;
    margin-left: 15px;
    display: flex;

}
.blue-container hr{
    opacity: 0.2;
}
.info{
    position:absolute;
    height: 150px;
    width: 986px;
    background-color: #e47312;
    padding: 50px;
    margin-top: 430px;
    margin-left: 350px;
    display:flex;
    justify-content: space-between;
    text-align: center;
}

.phone-number{
    margin-left: 100px;
}
.phone-number img{
    height: 40px;
}
.phone-number h5{
    font-weight: bold;
    color: aliceblue;
    }

.phone-number p{
        color: aliceblue;

    }

.contact img{
        height: 40px;
    }
.contact h5{
    font-weight: bold;
    color: aliceblue;
    }
.contact p{
        color: aliceblue;
    }
.time{
    margin-right: 50px;
}
.time img{
    height: 40px;
}
.time h5{
    font-weight: bold;
    color: aliceblue;
    }
.time p,a{
    text-decoration: none;
        color: aliceblue;
    }
.time a:hover{
    border-bottom: 3px solid whitesmoke;
}
main{
    margin-top: 250px;
    margin-left: 10px;
}
.services h1{
    position: relative;
    /* color: black; */
    color: rgba(241, 241, 247, 0.4);
    letter-spacing: 10px;
    font-family: 'Dosis', sans-serif;
    font-size: 120px;
    font-weight: bold;
}
.top-title{
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 40px;
}
.our-specialization h1{
position:absolute;
letter-spacing: 1px;
margin-top: -140px;
margin-left: 60px;
font-weight: 600px;
font-family: 'Dosis', sans-serif;
color: #121213;
}
.view-all-services p{
    position: relative;
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: -140px;
    margin-right: 80px;
    font-weight: 600;
}
.view-all-services p:hover{
    border-bottom:3px solid #e47312;

}
.cards{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 20px;
    font-family: 'Dosis', sans-serif;
}
.card img{
    width: 60px;
}
.card h4{
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
    color: #121213;
}
.card p{
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}
.learn-more h3 a{
    text-decoration: none;
    font-size:14px ;
    color: #919198;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: 600;

}
.learn-more h3:hover{
    border-bottom:3px solid #e47312;
    display: inline-block;
}
.img-para{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.worker-img img{
    width: 650px;
    height: 420px;
    margin-left: 50px;
}
.about h1{
    position: relative;
    color: rgba(241, 241, 247, 0.4);
    letter-spacing: 10px;
    font-family: 'Dosis', sans-serif;
    font-size: 120px;
    font-weight: bold;
    margin-top: -50px;
}

.para h2{
    position: absolute;
    font-family: 'Dosis', sans-serif;
    color: #121213;
    letter-spacing: 1px;
    font-size: 47px;
    line-height: 100px;
    margin-top: -110px;
    /* margin-bottom:30px; */
}
#para1 p{
    /* margin-top: 2px; */
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 30px;
    margin-bottom:45px;
}
#para2 p{
    /* margin-top: 10px; */
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}
.meet-the-team h3 a{
    text-decoration: none;
    font-size:14px ;
    color: #919198;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: 600;
}
.meet-the-team h3 a:hover{
    border-bottom:3px solid #e47312;
    display: inline-block;
}
.section4{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 100px;
}
.page h1{
    margin-bottom: 10px;
    color: #e47312;
    font-size: 60px;
    line-height: 70px;
    font-weight: 500;
    font-family: 'Dosis', sans-serif
}
.page p{
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}
.section5{
    background-color: #f7f8fc;
    font-family: 'Dosis', sans-serif;
    margin-left: 5px;
    margin-top: 100px;
    width: 1420px;

    /* background-attachment: scroll,fixed; */
    background-size: cover;

}
.project h1{
    color: rgba(241, 241, 247, 0.75);
    font-size: 120px;
    letter-spacing: 11px;
 padding-top: 50px;
 padding-left: 20px;
 position: relative;
}
.below-text{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.our-work h1{
     margin-left: 100px;
     margin-top: -150px;
     font-weight: 600;
     font-family: 'Dosis', sans-serif;
     color: #121213;
     font-size: 40px;
    line-height: 40px;
}
.view-all-work h3 a{
     font-weight: 600;
     font-family: 'Dosis', sans-serif;
     font-size: 15px;
     margin-right: 50px;
     text-decoration: none;
     color: #919198;
}
.view-all-work h3{
    margin-top: -150px;
}
.view-all-work h3 a:hover{
    border-bottom: 3px solid #e47312;
}
.img-gallery{
    margin-top: 100px;
}
.img-gallery1 div:nth-child(1){
    background-image: url(./p-1.jpg);
    width: 430px;
    height: 400px;
    margin-left: 25px;
    margin-top: -99px;
    background-size:cover;
    display: inline-block;
    position: relative;
}


.img-gallery1 div:nth-child(2){
    background-image: url(./p-4.jpg);
    background-size:cover;
    width: 430px;
    height: 400px;
    margin-left: 25px;
    margin-top: -99px;
    display: inline-block;
    position: relative;
}
.img-gallery1 div:nth-child(3){
    background-image: url(./p-3.jpg);
    background-size:cover;
    width: 430px;
    height: 400px;
    margin-left: 25px;
    margin-top: -99px;
    display: inline-block;
    position: relative;
 } 
 .img-gallery2 div:nth-child(1){
    background-image: url(./p-6.jpg);
    width: 430px;
    height: 400px;
    margin-left: 25px;
    margin-top: 20px;
    background-size:cover;
    display: inline-block;
    position: relative;

}

.img-gallery2 div:nth-child(2){
    background-image: url(./p-5.jpg);
    background-size:cover;
    width: 430px;
    height: 400px;
    margin-left: 25px;
    margin-top: 20px;
    display: inline-block;
    position: relative;
}
.img-gallery2 div:nth-child(3){
    background-image: url(./p-2.jpg);
    background-size:cover;
    width: 430px;
    height: 400px;
    margin-left: 25px;
    margin-top: 20px;
    display: inline-block;
    position: relative;
 } 
.orange-container{
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #e47312;
    background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)), url(./banner-2.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
    position: relative;
    height: 180px;
    margin-top: 15px;
}
.orange-container h1{
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-family: 'Dosis', sans-serif;
}
.orange-container p{
    color: hsla(0, 0%, 100%, 0.7);
    text-align: center;
    font-size: 22px;
    line-height: 2px;
    font-weight: 300;
    font-family: 'Dosis', sans-serif;
}

.down-head{
   margin-top: 70px;
}
.down-head p a{
    color: hsla(0, 0%, 100%, 0.7);
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}
.down-head p a:hover{
    border-bottom:3px solid hsla(0, 0%, 100%, 0.7) ;
}
.md-cards{
    margin-left: 50px; 
    margin-right: 5px;
    position: relative;
}
 .team{
        width: 20%;
        justify-content: space-between;
        display: inline-block;
        background-color: rgb(253, 253, 253);
        padding-right: 10px;
        padding-bottom: 10px;
        margin-left: 35px;
        margin-top: 20px;
        position: relative;
    }
.team-image img{
             Width: 285px;
            Height: 100%;
            
        
}
.text-section{
    margin-left: 25px;
    Padding: 5px 5px;
}
.text-section h2{
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
}
.text-section p{
    color: #919197;
    font-family: 'Dosis', sans-serif;
}
.flex{
    position: absolute;
    height: 200px;
    width: 50px;
    background-color: #e47312;
   margin-left: 215px;
   margin-top: -110px;
   padding: 10px;

}
.flex img{
    width: 20px;
    margin-top: 30px;
    margin-left: 15px;
    display: flex;

}
.flex hr{
    opacity: 0.2;
}
/* SECTION 8 START */

.testimonials-main {
    display: flex;
    margin-top: 150px;
    /* background-color: rgba(230, 222, 222, 0.948); */
}

.testimonials{
    margin-top: 80px;
    margin-left: 25px;
    width: 50%;
}

.testimonials h1{
    font-size: 120px;
    position: relative;
    color: #F1F1F7BF;
    margin-top: 50px;
    font-family: Dosis, sans-serif;
    margin-left: -50px;
}

.testimonials h2{
    position: absolute;
    font-family: Dosis, sans-serif;
    font-size: 50px;
    color:#121213;
    margin-top: -180px;
}

.testimonials p {
    margin-top: -80px;
    font-family: Dosis, sans-serif;
    color: #919198;
    font-size: 17px;
    line-height: 25px;
}

.testimonials a {
    margin-left: 0px;
    font-size: 16px;
    text-decoration: none;
    color: #919197;
    line-height:5px ;
}

.testimonials a:hover {
    border-bottom: 3px solid #e47312;
}


.testi-card-1 {
    width: 60%;
    margin-left: 150px;
    margin-top: 10px;
    background-color: #FFFFFF;
    text-align: center;
    padding-right: 10px;
    font-family: Dosis, sans-serif;
    padding-bottom: 10px;
    position: relative;
    height: 280px;
}
.emp-name h4{
    position: absolute;
    margin-top: 60px;
    margin-left: 100px;
}
.designation p{
    line-height: 200px;
    margin-left: 10px;
    color: #919197;
}
.para p {
    margin-top: -80px;
    color: #919197;
    line-height: 25px;
}

.testi-photo {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 130px;
    margin-top: -30px;
    justify-content: center;
    border-radius: 100%;
    background-image: linear-gradient(8deg, #ff6361, #e47312);
    opacity: 1;
    color: #fff;
    font-size: 80px;
    line-height: 80px;
}

.testi-logo {
    padding: 12px;
}

.testi-card-2 {
    width: 60%;
    margin-left: 150px;
    margin-top: 40px;
    background-color: #FFFFFF;
    text-align: center;
    padding-right: 10px;
    font-family: Dosis, sans-serif;
    padding-bottom: 10px;
    position: relative;
    height: 270px;
}


.testi-card-3 {
    width: 85%;
    margin-left: -10px;
    margin-top: 80px;
    background-color: #FFFFFF;
    text-align: center;
    padding-right: 10px;
    font-family: Dosis, sans-serif;
    padding-bottom: 10px;
    position: relative;
    height: 250px;
}
.testi-card-4 {
    width: 85%;
    margin-left: -10px;
    margin-top: 30px;
    background-color: #FFFFFF;
    text-align: center;
    padding-right: 10px;
    font-family: Dosis, sans-serif;
    padding-bottom: 10px;
    position: relative;
    height: 250px;
}
/* SECTION 8 END */
/* SECTION 9 START */

.blog-main {
    margin-top: 50px;
}

.blog {
    font-size: 120px;
    position: relative;
    color: rgba(241, 241, 247, 0.4);
    margin-left: 45px;
}


.blog-title {
    display: flex;
    justify-content: space-between;
    margin: 0px 25px;
}

.blog-title h1 {
    position: absolute;
    margin-top: -180px;
    margin-left: 20px;
    font-size: 50px;
}

.blog-title p {
    position: absolute;
    margin-left: 1100px;
    margin-top: -180px;
    color: #919197;
    font-size: 14px;
    font-family: Dosis, sans-serif;
}

.blog-title p:hover {
    cursor: pointer;
    border-bottom: 2px solid #e47312;
}


.blog-cards {
    display: flex;
    justify-content: space-between;
    margin: 0px 25px;
}

.blog-card-1 {
    width: 30%;
    background-color: #e47312;
    background-image: linear-gradient(158deg, #e47312, #ff6361);
    padding: 0px 0px 80px 0px;
    margin-left: 25px;
}

#port-1 {
    position: relative;
    background-color: #5c5c5c;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
}

#date-card {
    position: absolute;
    margin-top: -277px;
    margin-left: 324px;
    background-color: #e47312;
    font-size: 26px;
    height: 121px;
}
.card-para p{
    color: #f7f8fc;
}
.blog-month {
    align-items: center;
    background-color: #fff;
    color: #9d9da5;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 1px;
    padding: 10px 25px 15px 35px;
    /* width: 20px; */
}

.blog-card-1 h3 {
    margin-left: 40px;
    color: #FFFFFF;
}

.blog-card-1 p {
    color: #5c5c5c;
}

.blog-card-1 span a {
    margin-left: 40px;
    color: #FFFFFF;
    font-family: Dosis, sans-serif;
    text-decoration: none;
    border-bottom: 2px solid rgb(216, 172, 172);
    padding: 10px 10px;
}

.blog-card-1 span a:hover {
    cursor: pointer;
    border-bottom: 2px solid #FFFFFF;
}

.blog-card-2 {
    width: 30%;
    background-color: #e47312;
    background-image: linear-gradient(158deg, #e47312, #ff6361);
    padding: 0px 0px 30px 0px;
}

#port-2 {
    position: relative;
    background-color: #5c5c5c;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
}

.blog-card-2 h3 {
    margin-left: 40px;
    color: #FFFFFF;
}

.blog-card-2 p {
    color: #5c5c5c;
}

.blog-card-2 span a {
    margin-left: 40px;
    color: #FFFFFF;
    font-family: Dosis, sans-serif;
    text-decoration: none;
    border-bottom: 2px solid rgb(216, 172, 172);
    padding: 10px 10px;
}

.blog-card-2 span a:hover {
    cursor: pointer;
    border-bottom: 2px solid #FFFFFF;
}

.blog-card-3 {
    width: 30%;
    background-color: #e47312;
    background-image: linear-gradient(158deg, #e47312, #ff6361);
    padding: 0px 0px 30px 0px;
}

#port-3 {
    position: relative;
    background-color: #5c5c5c;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
}

.blog-card-3 h3 {
    margin-left: 40px;
    color: #FFFFFF;
}

.blog-card-3 p {
    color: #5c5c5c;
}

.blog-card-3 span a {
    margin-left: 40px;
    color: #FFFFFF;
    font-family: Dosis, sans-serif;
    text-decoration: none;
    border-bottom: 2px solid rgb(216, 172, 172);
    padding: 10px 10px;
}

.blog-card-3 span a:hover {
    cursor: pointer;
    border-bottom: 2px solid #FFFFFF;
}

/* SECTION 9 END */


/* SECTION 10 START */
.top-companies {
    margin-top: 100px;
    padding-top: 4%;
    padding-bottom: 4%;
    background-image: linear-gradient(56deg, #e47312, #ff6361);
}

.trusted-companies-title {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
}

.trusted-companies-title h2 {
    color: #fff;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 25px;
}

.top-logos {
    margin-right: 50px;
   
}

.top-logos a {
    padding: 25px;
}

/* SECTION 10 END */


/* SECTION 11 START */
footer {
    position: relative;
    z-index: 1;
    width: 90%;
    height: 700px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 50px;
    border-top: 1px solid #2f3038;
    background-color: #0a1229;
    display: flex;
}

.about-nuuk {
    width: 25%;
    color: #fff;
    margin-left: 70px;
}

.about-nuuk h1 {
    font-size: 20px;
    padding-bottom: 40px;
}

.about-nuuk hr {
    float: right;
    width: 150px;
    position: absolute;
    margin-top: -70px;
    margin-left: 165px;
    height: 1px;
    background-color: #dd1c19;
}

.about-nuuk p {
    margin-left: -4px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 200px;
}

.about-nuuk a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.about-nuuk a:hover {
    border-bottom: 3px solid #fff;
    cursor: pointer;
}

.footer-services {
    width: 25%;
    color: #fff;
    margin-left: 100px;
}

.footer-services h1 {
    font-size: 20px;
    padding-bottom: 40px;
    margin-left: 30px;
}

.footer-services hr {
    float: right;
    width: 150px;
    position: absolute;
    margin-top: -70px;
    margin-left: 150px;
    height: 1px;
    background-color: #ff6361;
}


.footer-services a {
    text-decoration: none;
    color: #fff;
    display: grid;
    margin-left: 40px;
    padding-top: 20px;
}

.footer-services a:hover {
    border-bottom: 2px solid #fff;
}

.footer-contact-us {
    display: grid;
    width: 45%;
    color: #fff;
    margin-left: 150px;
}

.footer-contact-us h1 {
    font-size: 20px;
}

.footer-contact-us hr {
    float: right;
    width: 150px;
    position: absolute;
    margin-top: 20px;
    margin-left: 150px;
    height: 1px;
    background-color: #ff6361;
}


.footer-phone {
    margin-top: -130px;
    display: flex;
}

.footer-phone h1 {
    font-size: 15px;
    margin-left: 40px;
}

#phone-footer {
    position: absolute;
    margin-left: -2px;
    margin-top: 10px;
}

.footer-phone p {
    position: absolute;
    margin-top: 40px;
    font-size: 18px;
    margin-left: 40px;
    color: #919197;

}

.footer-opening-times {
    margin-top: -180px;
    display: flex;
}

.footer-opening-times h1 {
    font-size: 15px;
    margin-left: 40px;
}

#clock-footer {
    position: absolute;
    margin-left: -2px;
    margin-top: 10px;
}

.footer-opening-times p {
    position: absolute;
    margin-top: 40px;
    font-size: 18px;
    margin-left: 40px;
    color: #919197;
}

.footer-cont {
    margin-top: -210px;
    display: flex;
}

.footer-cont h1 {
    font-size: 15px;
    margin-left: 40px;
}

#mail-footer {
    position: absolute;
    margin-left: -2px;
    margin-top: 10px;
}

.footer-cont p {
    position: absolute;
    margin-top: 40px;
    font-size: 18px;
    margin-left: 40px;
    color: #919197;
}

#footer-end {
    background-color: #e47312;
    margin-top: 430px;
    margin-left: -1200px;
    padding: 40px;
}

/* SECTION 11 END *